# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build output
dist/
build/
*.tsbuildinfo
.serverless

# Logs
logs
*.log
*.csv
*.out
*.pid
*.gz

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local
*.tfvars

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars.backup
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS SAM / CDK / Terraform artifacts
.aws-sam/
cdk.out/
.terraform/
terraform.tfstate
terraform.tfstate.*

# IDE/editor files
.idea/
.vscode/
*.swp
*.swo

# Coverage / testing
coverage/
.nyc_output/
.jest-cache/
.jest/
___*
terraform/*